@media (max-width: 48rem) {

    .text6 {display: none;
    
     
        
        }

 }

     
    






@media (min-width: 48rem) {

.text6 {
  

width: 681px;
height: 44px;


font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #000000;




    


}



}